<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsen.user.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wangsen.user.entity.SysMenu">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="parent_id" property="parentId" />
        <result column="sort" property="sort" />
        <result column="icon" property="icon" />
        <result column="type" property="type" />
        <result column="permission_code" property="permissionCode" />
        <result column="status" property="status" />
        <result column="app_id" property="appId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, url, parent_id, sort, icon, type, permission_code, status, app_id, create_time, update_time
    </sql>

</mapper>
